**/bin/
**/obj/
*.user
*.suo
.vs/
UnityTableTool/release/*.dll
UnityTableTool/release/*.pdb
UnityTableTool/release/*.json
UnityTableTool/release/*.xml
UnityTableTool/release/*.exe
UnityTableTool/release/*.config
TableTools/settings.json
UnityTableTool/.idea/.idea.UnityTableTool/.idea
